In [ ]:
# Importação da biblioteca pandas
import pandas as pd

In [ ]:
# Instalação dos requisitos para o PySpark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
# Configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"
# Torna o pyspark "importável"
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

# Inicializar a SparkSession com suporte ao Hive
spark = SparkSession.builder \
    .appName("Spark with Hive on Colab") \
    .config("spark.sql.catalogImplementation", "hive") \
    .config("spark.sql.warehouse.dir", "/content/spark-warehouse") \
    .config("hive.metastore.warehouse.dir", "/content/spark-warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

# Criar diretório para o warehouse
!mkdir -p /content/spark-warehouse

In [ ]:
# Verifica o SparkContext
print(spark)

# Exibe a Spark version
print(spark.version)

<pyspark.sql.session.SparkSession object at 0x7dd478063070>
3.1.1

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR2snMwL0lRHwNv3ilck0T98nhhyAqzmU5oQMKY4nwKZu_0FkiGo8U7ZXvA63CQOg2bYfmhKc6c-dL1/pub?gid=0&single=true&output=csv')
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000,MBA,7

In [ ]:
df.to_csv('dados.csv',index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   matricula     10 non-null     int64
 1   nome          10 non-null     object
 2   cidade        10 non-null     object
 3   estado        10 non-null     object
 4   pais          10 non-null     object
 5   idade         10 non-null     int64
 6   departamento  10 non-null     object
 7   cargo         10 non-null     object
 8   salario       10 non-null     int64
 9   escolaridade  10 non-null     object
 10  nota          10 non-null     int64
dtypes: int64(4), object(7)
memory usage: 1008.0+ bytes

In [ ]:
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000,MBA,7

In [ ]:
for i in range(df.shape[0]):
  print(tuple(df.iloc[i]))

(1, 'Lucas', 'Atibaia', 'SP', 'Brasil', 35, 'Compras', 'Gerente', 25000, 'Superior', 8)
(2, 'Ana', 'São Paulo', 'SP', 'Brasil', 29, 'Vendas', 'Coordenador', 12000, 'Superior', 6)
(3, 'Luiza', 'Santos', 'SP', 'Brasil', 38, 'Finanças', 'Gerente', 28000, 'MBA', 9)
(4, 'Fernando', 'Atibaia', 'SP', 'Brasil', 36, 'Marketing', 'Diretor', 40000, 'Mestrado', 7)
(5, 'Sandra', 'Atibaia', 'SP', 'Brasil', 28, 'Produção', 'Analista', 23000, 'Superior', 5)
(6, 'Douglas', 'Bragança', 'SP', 'Brasil', 29, 'Finanças', 'Analista', 11000, 'Superior', 9)
(7, 'Eduardo', 'Extrema', 'MG', 'Brasil', 30, 'Marketing', 'Gerente', 12000, 'MBA', 4)
(8, 'Ester', 'Itapeva', 'MG', 'Brasil', 29, 'Compras', 'Analista', 10000, 'Superior', 2)
(9, 'Pedro', 'Extrema', 'MG', 'Brasil', 30, 'Marketing', 'Analista', 13000, 'Superior', 1)
(10, 'Maria', 'Extrema', 'MG', 'Brasil', 40, 'Produção', 'Analista', 12000, 'MBA', 7)

# Criando um DF PySpark

In [ ]:
# Cria a tabela funcionários
spark.sql('''
CREATE TABLE IF NOT EXISTS funcionarios (
  matricula INT,
  nome STRING,
  cidade STRING,
  estado STRING,
  pais STRING,
  idade INT,
  departamento STRING,
  cargo STRING,
  salario DOUBLE,
  escolaridade STRING,
  nota INT
)
''')

# Populando a tabela funcionarios
spark.sql('''
INSERT INTO funcionarios VALUES
(1, 'Lucas', 'Atibaia', 'SP', 'Brasil', 35, 'Compras', 'Gerente', 25000, 'Superior', 8),
(2, 'Ana', 'São Paulo', 'SP', 'Brasil', 29, 'Vendas', 'Coordenador', 12000, 'Superior', 6),
(3, 'Luiza', 'Santos', 'SP', 'Brasil', 38, 'Finanças', 'Gerente', 28000, 'MBA', 9),
(4, 'Fernando', 'Atibaia', 'SP', 'Brasil', 36, 'Marketing', 'Diretor', 40000, 'Mestrado', 7),
(5, 'Sandra', 'Atibaia', 'SP', 'Brasil', 28, 'Produção', 'Analista', 23000, 'Superior', 5),
(6, 'Douglas', 'Bragança', 'SP', 'Brasil', 29, 'Finanças', 'Analista', 11000, 'Superior', 9),
(7, 'Eduardo', 'Extrema', 'MG', 'Brasil', 30, 'Marketing', 'Gerente', 12000, 'MBA', 4),
(8, 'Ester', 'Itapeva', 'MG', 'Brasil', 29, 'Compras', 'Analista', 10000, 'Superior', 2),
(9, 'Pedro', 'Extrema', 'MG', 'Brasil', 30, 'Marketing', 'Analista', 13000, 'Superior', 1),
(10, 'Maria', 'Extrema', 'MG', 'Brasil', 40, 'Produção', 'Analista', 12000, 'MBA', 7)
''')

DataFrame[]

In [ ]:
funcionarios = spark.sql('''
SELECT *
FROM funcionarios
''')

In [ ]:
funcionarios.show()

+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+
|matricula|    nome|   cidade|estado|  pais|idade|departamento|      cargo|salario|escolaridade|nota|
+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|25000.0|    Superior|   8|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|12000.0|    Superior|   6|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|28000.0|         MBA|   9|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|40000.0|    Mestrado|   7|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|23000.0|    Superior|   5|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|11000.0|    Superior|   9|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|12000.0|         MBA|   4|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|10000.0|    Superior|   2|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|13000.0|    Superior|   1|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|12000.0|         MBA|   7|
+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+

In [ ]:
# Transformando o objeto funcionarios em um df pandas
df = funcionarios.toPandas()
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000.0,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000.0,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000.0,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000.0,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000.0,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000.0,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000.0,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000.0,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000.0,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000.0,MBA,7

In [ ]:
# Convertendo um ojeto pandas em um df pyspark
dfpy = spark.createDataFrame(df.to_dict(orient='records'))

In [ ]:
# Exibindo os result
dfpy.show()

+-----------+---------+------------+------------+------+-----+---------+--------+----+------+-------+
|      cargo|   cidade|departamento|escolaridade|estado|idade|matricula|    nome|nota|  pais|salario|
+-----------+---------+------------+------------+------+-----+---------+--------+----+------+-------+
|    Gerente|  Atibaia|     Compras|    Superior|    SP|   35|        1|   Lucas|   8|Brasil|25000.0|
|Coordenador|São Paulo|      Vendas|    Superior|    SP|   29|        2|     Ana|   6|Brasil|12000.0|
|    Gerente|   Santos|    Finanças|         MBA|    SP|   38|        3|   Luiza|   9|Brasil|28000.0|
|    Diretor|  Atibaia|   Marketing|    Mestrado|    SP|   36|        4|Fernando|   7|Brasil|40000.0|
|   Analista|  Atibaia|    Produção|    Superior|    SP|   28|        5|  Sandra|   5|Brasil|23000.0|
|   Analista| Bragança|    Finanças|    Superior|    SP|   29|        6| Douglas|   9|Brasil|11000.0|
|    Gerente|  Extrema|   Marketing|         MBA|    MG|   30|        7| Eduardo|   4|Brasil|12000.0|
|   Analista|  Itapeva|     Compras|    Superior|    MG|   29|        8|   Ester|   2|Brasil|10000.0|
|   Analista|  Extrema|   Marketing|    Superior|    MG|   30|        9|   Pedro|   1|Brasil|13000.0|
|   Analista|  Extrema|    Produção|         MBA|    MG|   40|       10|   Maria|   7|Brasil|12000.0|
+-----------+---------+------------+------------+------+-----+---------+--------+----+------+-------+

In [ ]:
# Cria a tabela funcionários2
spark.sql('''
CREATE TABLE IF NOT EXISTS funcionarios2 (
  matricula INT,
  nome STRING,
  cidade STRING,
  estado STRING,
  pais STRING,
  idade INT,
  departamento STRING,
  cargo STRING,
  salario DOUBLE,
  escolaridade STRING,
  nota INT
)

USING CSV
OPTIONS (path '/content/dados.csv', header 'true', inferSchema 'true')
''')
spark.sql('''
SELECT *
FROM funcionarios2
''').show()

+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+
|matricula|    nome|   cidade|estado|  pais|idade|departamento|      cargo|salario|escolaridade|nota|
+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+
|        1|   Lucas|  Atibaia|    SP|Brasil|   35|     Compras|    Gerente|25000.0|    Superior|   8|
|        2|     Ana|São Paulo|    SP|Brasil|   29|      Vendas|Coordenador|12000.0|    Superior|   6|
|        3|   Luiza|   Santos|    SP|Brasil|   38|    Finanças|    Gerente|28000.0|         MBA|   9|
|        4|Fernando|  Atibaia|    SP|Brasil|   36|   Marketing|    Diretor|40000.0|    Mestrado|   7|
|        5|  Sandra|  Atibaia|    SP|Brasil|   28|    Produção|   Analista|23000.0|    Superior|   5|
|        6| Douglas| Bragança|    SP|Brasil|   29|    Finanças|   Analista|11000.0|    Superior|   9|
|        7| Eduardo|  Extrema|    MG|Brasil|   30|   Marketing|    Gerente|12000.0|         MBA|   4|
|        8|   Ester|  Itapeva|    MG|Brasil|   29|     Compras|   Analista|10000.0|    Superior|   2|
|        9|   Pedro|  Extrema|    MG|Brasil|   30|   Marketing|   Analista|13000.0|    Superior|   1|
|       10|   Maria|  Extrema|    MG|Brasil|   40|    Produção|   Analista|12000.0|         MBA|   7|
+---------+--------+---------+------+------+-----+------------+-----------+-------+------------+----+

In [ ]:
'''
Crie uma visão do salário médio agrupado por cargo
'''
df[['cargo','salario']].groupby('cargo').mean().reset_index()

         cargo       salario
0     Analista  13800.000000
1  Coordenador  12000.000000
2      Diretor  40000.000000
3      Gerente  21666.666667

In [ ]:
'''
Crie uma visão do salário médio agrupado por cargo
'''
spark.sql('''
SELECT cargo, ROUND(AVG(salario),1) AS salario_medio
FROM funcionarios
GROUP BY cargo
''').show()

+-----------+-------------+
|      cargo|salario_medio|
+-----------+-------------+
|    Gerente|      21666.7|
|Coordenador|      12000.0|
|    Diretor|      40000.0|
|   Analista|      13800.0|
+-----------+-------------+

In [ ]:
'''
Vamor fazer uma consulta que retorne apenas os nomes e salários,
cujo salário seja maior que 20.000
'''
df.loc[df['salario'] > 20000,['nome','salario']]

       nome  salario
0     Lucas  25000.0
2     Luiza  28000.0
3  Fernando  40000.0
4    Sandra  23000.0

In [ ]:
'''
Vamor fazer uma consulta que retorne apenas os nomes e salários,
cujo salário seja maior que 20.000
'''
spark.sql('''
SELECT nome, salario
FROM funcionarios
WHERE salario > 20000
''').show()

+--------+-------+
|    nome|salario|
+--------+-------+
|   Lucas|25000.0|
|   Luiza|28000.0|
|Fernando|40000.0|
|  Sandra|23000.0|
+--------+-------+

# Banco querida locadora

In [ ]:
cliente = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQW3fP3j4qoiMGBXDAGzg_9IW2b3zgjdkVKLsURNVe9QezpHXimWfKle_55CQQtkeWL69OAASBDNdk8/pub?gid=2073489257&single=true&output=csv')
display(cliente)

   codcliente              nome           cidade sexo estado estadocivil
0           1         Ana Silva  Duque de Caxias    F     RJ           C
1           2     Bruna Pereira          Niterói    F     RJ           C
2           3  Túlio Nascimento  Duque de Caxias    M     RJ           S
3           4    Fernando Souza         Campinas    M     SP           S
4           5     Lúcia Andrade        São Paulo    F     SP           C

In [ ]:
aluguel = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRncyLGO1iOo2H53JaryzVF1GPjUhWl9DsN7TZROCDxaP85iCwl5aW5ffBEzqtpAMRNYkd7eO5ehmgn/pub?gid=1581881382&single=true&output=csv')
display(aluguel)

   codaluguel  codcliente  codcarro data_aluguel
0           1           3         2   2023-04-01
1           2           2         1   2023-04-02
2           3           2         1   2023-04-03
3           4           2         3   2023-04-04
4           5           1         4   2023-04-05
5           6           1         4   2023-04-13
6           7           1         1   2023-04-15
7           8           5         2   2023-04-19
8           9           5         2   2023-04-21
9          10           3         1   2023-04-25

In [ ]:
carro = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSznlX7UXeH_LeKcNteiDnWvdwZyydAQl0_x8NU9cx6G00Zh7SMrjoUuNpytVq7U-iQVzQNJ7jC7GpY/pub?gid=306989914&single=true&output=csv')
display(carro)

   codcarro  codmarca modelo  valor
0         1         1     Ka  100.0
1         2         2   Argo  150.0
2         3         3   Onix  170.0
3         4         4   Polo  150.0
4         5         5   Kwid  120.0

In [ ]:
marca = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSI-4_QEFwZ6eDGwUDlip0_PGBn7d_F7j59UwXmRvWbQFyy01ENPatjkbO1E8k5ZW5lqSY9ox112j7X/pub?gid=1160143272&single=true&output=csv')
display(marca)

   codmarca       marca
0         1        Ford
1         2        Fiat
2         3   Chevrolet
3         4  Volkswagen
4         5     Renault

In [ ]:
cliente.to_csv('cliente.csv',index=False)

In [ ]:
aluguel.to_csv('aluguel.csv',index=False)

In [ ]:
marca.to_csv('marca.csv',index=False)

In [ ]:
carro.to_csv('carro.csv',index=False)

In [ ]:
cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codcliente   5 non-null      int64
 1   nome         5 non-null      object
 2   cidade       5 non-null      object
 3   sexo         5 non-null      object
 4   estado       5 non-null      object
 5   estadocivil  5 non-null      object
dtypes: int64(1), object(5)
memory usage: 368.0+ bytes

In [ ]:
# Cria a tabela cliente
spark.sql('''
CREATE TABLE IF NOT EXISTS cliente (
  codcliente INT,
  nome STRING,
  cidade STRING,
  sexo STRING,
  estado STRING,
  estadocivil STRING
)

USING CSV
OPTIONS (path '/content/cliente.csv', header 'true', inferSchema 'true')
''')
cliente = spark.sql('''
SELECT *
FROM cliente
''')

In [ ]:
cliente.show()

+----------+----------------+---------------+----+------+-----------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------------+---------------+----+------+-----------+
|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         4|  Fernando Souza|       Campinas|   M|    SP|          S|
|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|
+----------+----------------+---------------+----+------+-----------+

In [ ]:
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   codaluguel    10 non-null     int64
 1   codcliente    10 non-null     int64
 2   codcarro      10 non-null     int64
 3   data_aluguel  10 non-null     object
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes

In [ ]:
# Cria a tabela aluguel
spark.sql('''
CREATE TABLE IF NOT EXISTS aluguel (
  codaluguel INT,
  codcliente INT,
  codcarro INT,
  data_aluguel DATE
)

USING CSV
OPTIONS (path '/content/aluguel.csv', header 'true', inferSchema 'true')
''')
aluguel = spark.sql('''
SELECT *
FROM aluguel
''')

In [ ]:
aluguel.show()

+----------+----------+--------+------------+
|codaluguel|codcliente|codcarro|data_aluguel|
+----------+----------+--------+------------+
|         1|         3|       2|  2023-04-01|
|         2|         2|       1|  2023-04-02|
|         3|         2|       1|  2023-04-03|
|         4|         2|       3|  2023-04-04|
|         5|         1|       4|  2023-04-05|
|         6|         1|       4|  2023-04-13|
|         7|         1|       1|  2023-04-15|
|         8|         5|       2|  2023-04-19|
|         9|         5|       2|  2023-04-21|
|        10|         3|       1|  2023-04-25|
+----------+----------+--------+------------+

In [ ]:
carro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   codcarro  5 non-null      int64
 1   codmarca  5 non-null      int64
 2   modelo    5 non-null      object
 3   valor     5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes

In [ ]:
# Cria a tabela carro
spark.sql('''
CREATE TABLE IF NOT EXISTS carro (
  codcarro INT,
  codmarca INT,
  modelo STRING,
  valor DOUBLE
)

USING CSV
OPTIONS (path '/content/carro.csv', header 'true', inferSchema 'true')
''')
carro = spark.sql('''
SELECT *
FROM carro
''')

In [ ]:
carro.show()

+--------+--------+------+-----+
|codcarro|codmarca|modelo|valor|
+--------+--------+------+-----+
|       1|       1|    Ka|100.0|
|       2|       2|  Argo|150.0|
|       3|       3|  Onix|170.0|
|       4|       4|  Polo|150.0|
|       5|       5|  Kwid|120.0|
+--------+--------+------+-----+

In [ ]:
marca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   codmarca  5 non-null      int64
 1   marca     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [ ]:
# Cria a tabela marca
spark.sql('''
CREATE TABLE IF NOT EXISTS marca (
  codmarca INT,
  marca STRING
)

USING CSV
OPTIONS (path '/content/marca.csv', header 'true', inferSchema 'true')
''')
marca = spark.sql('''
SELECT *
FROM marca
''')

In [ ]:
marca.show()

+--------+----------+
|codmarca|     marca|
+--------+----------+
|       1|      Ford|
|       2|      Fiat|
|       3| Chevrolet|
|       4|Volkswagen|
|       5|   Renault|
+--------+----------+

In [ ]:
'''
1 - Selecione todos os dados da tabela cliente
'''
spark.sql('''
SELECT *
FROM cliente
''').show()

+----------+----------------+---------------+----+------+-----------+
|codcliente|            nome|         cidade|sexo|estado|estadocivil|
+----------+----------------+---------------+----+------+-----------+
|         1|       Ana Silva|Duque de Caxias|   F|    RJ|          C|
|         2|   Bruna Pereira|        Niterói|   F|    RJ|          C|
|         3|Túlio Nascimento|Duque de Caxias|   M|    RJ|          S|
|         4|  Fernando Souza|       Campinas|   M|    SP|          S|
|         5|   Lúcia Andrade|      São Paulo|   F|    SP|          C|
+----------+----------------+---------------+----+------+-----------+

In [ ]:
'''
2 - Liste os estados diferentes presentes na tabela cliente.
'''
spark.sql('''
SELECT DISTINCT estado
FROM cliente
''').show()

+------+
|estado|
+------+
|    SP|
|    RJ|
+------+

In [ ]:
'''
3 - Encontre todos os clientes que são do sexo feminino e solteiros.
'''
spark.sql('''
SELECT nome, sexo, estadocivil
FROM cliente
WHERE sexo = "F"  AND estadocivil = "S"
''').show()

+----+----+-----------+
|nome|sexo|estadocivil|
+----+----+-----------+
+----+----+-----------+

In [ ]:
'''
4 - Liste todos os clientes cujo nome começa com a letra 'A'.
'''
spark.sql('''
SELECT *
FROM cliente
WHERE nome LIKE "A%"
''').show()

+----------+---------+---------------+----+------+-----------+
|codcliente|     nome|         cidade|sexo|estado|estadocivil|
+----------+---------+---------------+----+------+-----------+
|         1|Ana Silva|Duque de Caxias|   F|    RJ|          C|
+----------+---------+---------------+----+------+-----------+

In [ ]:
'''
5 - Liste todos os carros que são da marca 'Ford' ou 'Fiat'.
'''
spark.sql('''
SELECT carro.modelo, marca.marca
FROM carro
JOIN marca
ON carro.codmarca = marca.codmarca
WHERE marca.marca = "Fiat" OR marca.marca = "Ford"
''').show()

+------+-----+
|modelo|marca|
+------+-----+
|    Ka| Ford|
|  Argo| Fiat|
+------+-----+

In [ ]:
'''
6 - Encontre os clientes que alugaram o carro com modelo 'Onix'.
'''
spark.sql('''
SELECT cliente.nome, carro.modelo
FROM aluguel
JOIN cliente ON aluguel.codcliente = cliente.codcliente
JOIN carro ON aluguel.codcarro = carro.codcarro
WHERE modelo = "Onix"
''').show()

+-------------+------+
|         nome|modelo|
+-------------+------+
|Bruna Pereira|  Onix|
+-------------+------+

In [ ]:
'''
7 - Liste os modelos de carros e o número de vezes que cada um foi alugado.
'''
spark.sql('''
SELECT carro.modelo, COUNT(codaluguel) AS qtde_alugueis
FROM aluguel
JOIN carro ON aluguel.codcarro = carro.codcarro
GROUP BY modelo
ORDER BY COUNT(codaluguel) DESC
''').show()

+------+-------------+
|modelo|qtde_alugueis|
+------+-------------+
|    Ka|            4|
|  Argo|            3|
|  Polo|            2|
|  Onix|            1|
+------+-------------+

In [ ]:
'''
8 - Liste o nome dos clientes e o número de aluguéis que cada um fez.
'''
spark.sql('''
SELECT cliente.nome, COUNT(codaluguel) AS qtde_alugueis
FROM aluguel
JOIN cliente ON aluguel.codcliente = cliente.codcliente
GROUP BY nome
ORDER BY COUNT(codaluguel) DESC
''').show()

+----------------+-------------+
|            nome|qtde_alugueis|
+----------------+-------------+
|       Ana Silva|            3|
|   Bruna Pereira|            3|
|Túlio Nascimento|            2|
|   Lúcia Andrade|            2|
+----------------+-------------+

In [ ]:
'''
9 - Crie uma consulta que retorne o nome dos clientes e uma coluna adicional
chamada status_civil que classifica os clientes como "Solteiro" ou "Casado".
'''
spark.sql('''
SELECT nome, CASE WHEN estadocivil = "S" THEN "Solteiro" WHEN estadocivil =
"C" THEN "Casado" END AS status_civil
FROM cliente
''').show()

+----------------+------------+
|            nome|status_civil|
+----------------+------------+
|       Ana Silva|      Casado|
|   Bruna Pereira|      Casado|
|Túlio Nascimento|    Solteiro|
|  Fernando Souza|    Solteiro|
|   Lúcia Andrade|      Casado|
+----------------+------------+

In [ ]:
'''
10 - Encontre os clientes que alugaram carros em um determinado mês e ano,
listando os modelos de carros e as datas de aluguel.
'''
spark.sql('''
SELECT cliente.nome,
       carro.modelo,
       aluguel.data_aluguel
FROM aluguel
JOIN cliente ON aluguel.codcliente = cliente.codcliente
JOIN carro ON aluguel.codcarro = carro.codcarro
WHERE
MONTH(aluguel.data_aluguel) = 4 AND YEAR(aluguel.data_aluguel) = 2023
''').show()

+----------------+------+------------+
|            nome|modelo|data_aluguel|
+----------------+------+------------+
|Túlio Nascimento|  Argo|  2023-04-01|
|   Bruna Pereira|    Ka|  2023-04-02|
|   Bruna Pereira|    Ka|  2023-04-03|
|   Bruna Pereira|  Onix|  2023-04-04|
|       Ana Silva|  Polo|  2023-04-05|
|       Ana Silva|  Polo|  2023-04-13|
|       Ana Silva|    Ka|  2023-04-15|
|   Lúcia Andrade|  Argo|  2023-04-19|
|   Lúcia Andrade|  Argo|  2023-04-21|
|Túlio Nascimento|    Ka|  2023-04-25|
+----------------+------+------------+

In [ ]:
aluguel.show()

+----------+----------+--------+------------+
|codaluguel|codcliente|codcarro|data_aluguel|
+----------+----------+--------+------------+
|         1|         3|       2|  2023-04-01|
|         2|         2|       1|  2023-04-02|
|         3|         2|       1|  2023-04-03|
|         4|         2|       3|  2023-04-04|
|         5|         1|       4|  2023-04-05|
|         6|         1|       4|  2023-04-13|
|         7|         1|       1|  2023-04-15|
|         8|         5|       2|  2023-04-19|
|         9|         5|       2|  2023-04-21|
|        10|         3|       1|  2023-04-25|
+----------+----------+--------+------------+