In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSpCW9yMoUMQ4tknj5Lg_TYVfIC3P9KoVPPqlJKsBu2HzGaC579yCp9Ohxni2ncY-xyLfugXan9K6yf/pub?gid=636707205&single=true&output=csv')
display(df.head(2))

,ID,Nome,Idade,Salário,Cargo,Departamento,Data de Contratação,Avaliação de Desempenho
0,1,Juan,42.0,9276.79,Florista,Financeiro,2024-03-01,3.6
1,2,Isabelly,65.0,NaN,NaN,Operações,2023-04-04,6.3

In [ ]:
'''
Você recebeu uma base de dados com informações de funcionários.
Sua tarefa é responder às seguintes perguntas utilizando a biblioteca pandas:

01 - Quantos registros existem na base de dados?
02 - Quantos registros têm informações completas (sem valores ausentes)?
03 - Substitua os valores ausentes na coluna "Salário" pela média dos salários
      e exiba a nova média.
04 - Substitua todos os valores "TI" na coluna "Departamento" por
     "Tecnologia da Informação".
05 - Qual é o salário mais alto e quem o recebe?
06 - Quantos funcionários estão no departamento de Marketing?
07 - Qual é a idade média dos funcionários por departamento?
08 - Liste os cargos únicos presentes na base.
09 - Crie uma nova coluna chamada "Tempo na Empresa" que calcula o tempo de
     trabalho com base na data de contratação.
10 - Liste os 5 funcionários com mais tempo de empresa.
11 - Quantos funcionários têm desempenho avaliado acima de 8?
12 - Qual é o salário total por departamento?
13 - Liste os 5 funcionários mais jovens.
14 - Existe algum registro sem salário? Liste-os.
15 - Utilize a função apply para criar uma nova coluna "Categoria de Salário",
     classificando os funcionários como "Baixo" (salário < 3000), "Médio"
     (3000 ≤ salário ≤ 7000) e "Alto" (salário > 7000).
16 - Utilize a função map para criar uma nova coluna chamada
     "Desempenho Simplificado", substituindo a "Avaliação de Desempenho" em
     uma escala simples: "Baixo" (1-3), "Médio" (4-7) e "Alto" (8-10).
17 - Utilize uma função lambda para criar uma nova coluna "Idade em 5 Anos",
     que adiciona 5 anos à idade atual dos funcionários.
18 - Quantos funcionários estão na categoria de salário "Alto"?
19 - Use dropna para excluir registros com valores ausentes e salve o
     DataFrame limpo em um novo arquivo CSV.
20 - Faça o casting da coluna "Avaliação de Desempenho" para o tipo inteiro e
     exiba o DataFrame.
'''

In [ ]:
# 01 - Quantos registros existem na base de dados?
total_registros = df.shape[0]
print(f'Total de registros: {total_registros}')

Total de registros: 50

In [ ]:
# 02 - Quantos registros têm informações completas (sem valores ausentes)?
registros_completos = df.dropna().shape[0]
print(f'Total de registros completos: {registros_completos}')

Total de registros completos: 29

In [ ]:
# 03 - Substitua os valores ausentes na coluna "Salário" pela média dos salários e exiba a nova média.
media_salario = df['Salário'].mean()
df['Salário'].fillna(media_salario, inplace=True)
print(f'Nova média de salário: {df["Salário"].mean()}')

Nova média de salário: 5865.925111111112

<ipython-input-5-665bb40d673d>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(media_salario, inplace=True)

In [ ]:
# 04 - Substitua todos os valores "TI" na coluna "Departamento" por "Tecnologia da Informação".
df['Departamento'].replace('TI', 'Tecnologia da Informação', inplace=True)

<ipython-input-6-7d85d28a99e3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Departamento'].replace('TI', 'Tecnologia da Informação', inplace=True)

In [ ]:
# 05 - Qual é o salário mais alto e quem o recebe?
salario_maximo = df['Salário'].max()
funcionario_max_salarial = df[df['Salário'] == salario_maximo]['Nome'].values[0]
print(f'Salário mais alto: {salario_maximo}, Recebido por: {funcionario_max_salarial}')

Salário mais alto: 9911.71, Recebido por: João

In [ ]:
# 06 - Quantos funcionários estão no departamento de Marketing?
num_marketing = df[df['Departamento'] == 'Marketing'].shape[0]
print(f'Total de funcionários no departamento de Marketing: {num_marketing}')

Total de funcionários no departamento de Marketing: 10

In [ ]:
# 07 - Qual é a idade média dos funcionários por departamento?
idade_media_departamento = df.groupby('Departamento')['Idade'].mean()
print(f'Idade média por departamento:\n{idade_media_departamento}')

Idade média por departamento:
Departamento
Financeiro                  47.500000
Marketing                   41.555556
Operações                   43.333333
RH                          39.928571
Tecnologia da Informação    44.857143
Name: Idade, dtype: float64

In [ ]:
# 08 - Liste os cargos únicos presentes na base.
cargos_unicos = df['Cargo'].unique()
print(f'Cargos únicos: {cargos_unicos}')

Cargos únicos: ['Florista' nan 'Lutador de jiu-jitsu' 'DJ' 'Neurocirurgião'
 'Ginecologista' 'Bedel' 'Lubrificador de máquinas' 'Jogador de futebol'
 'Piloto de avião' 'Cameraman' 'Odontologista estético' 'Moldureiro'
 'Dublador' 'Bioquímico' 'Traumatologista' 'Instrumentista musical'
 'Cartunista' 'Tecnólogo em automação industrial' 'Balconista' 'Cantor'
 'Cozinheira' 'Tecnólogo em rochas ornamentais' 'Taxista' 'Moleiro'
 'Protético dentário' 'Pianista' 'Cinegrafista' 'Intérprete de Bíblias'
 'Carnavalesco' 'Geógrafo' 'Empacotador' 'Ator' 'Imunologista'
 'Quiropraxista' 'Ferroviário' 'Publicitário' 'Segurança particular'
 'Comerciante' 'Artista de circo' 'Capitão' 'Jogador de handebol'
 'Figurante' 'Telegrafista' 'Judoca' 'Ortoptista' 'Garçom']

In [ ]:
# 09 - Crie uma nova coluna chamada "Tempo na Empresa".
df['Data de Contratação'] = pd.to_datetime(df['Data de Contratação'])
df['Tempo na Empresa'] = (pd.to_datetime('today') - df['Data de Contratação']).dt.days

In [ ]:
# 10 - Liste os 5 funcionários com mais tempo de empresa.
funcionarios_mais_antigos = df.nlargest(5, 'Tempo na Empresa')[['Nome', 'Tempo na Empresa']]
print(f'5 funcionários com mais tempo de empresa:\n{funcionarios_mais_antigos}')

5 funcionários com mais tempo de empresa:
        Nome  Tempo na Empresa
48  Fernanda            1704.0
5     Emilly            1645.0
33   Sabrina            1643.0
29     Alice            1631.0
20     Isaac            1627.0

In [ ]:
# 11 - Quantos funcionários têm desempenho avaliado acima de 8?
desempenho_acima_8 = df[df['Avaliação de Desempenho'] > 8].shape[0]
print(f'Total de funcionários com desempenho acima de 8: {desempenho_acima_8}')

Total de funcionários com desempenho acima de 8: 12

In [ ]:
# 12 - Qual é o salário total por departamento?
salario_total_departamento = df.groupby('Departamento')['Salário'].sum()
print(f'Salário total por departamento:\n{salario_total_departamento}')

Salário total por departamento:
Departamento
Financeiro                  42526.100000
Marketing                   66885.370222
Operações                   52666.850222
RH                          79870.290000
Tecnologia da Informação    42171.075111
Name: Salário, dtype: float64

In [ ]:
# 12 - Qual é o salário total por departamento?
salario_total_departamento = df.groupby('Departamento')['Salário'].sum()
print(f'Salário total por departamento:\n{salario_total_departamento}')

Salário total por departamento:
Departamento
Financeiro                  42526.100000
Marketing                   66885.370222
Operações                   52666.850222
RH                          79870.290000
Tecnologia da Informação    42171.075111
Name: Salário, dtype: float64

In [ ]:
# 14 - Existe algum registro sem salário? Liste-os.
sem_salario = df[df['Salário'].isna()]
print(f'Registros sem salário:\n{sem_salario}')

Registros sem salário:
Empty DataFrame
Columns: [ID, Nome, Idade, Salário, Cargo, Departamento, Data de Contratação, Avaliação de Desempenho, Tempo na Empresa]
Index: []

In [ ]:
# 15 - Categorizar o salário.
def categorizar_salario(salario):
    if salario < 3000:
        return 'Baixo'
    elif salario <= 7000:
        return 'Médio'
    else:
        return 'Alto'

df['Categoria de Salário'] = df['Salário'].apply(categorizar_salario)

In [ ]:
# 16 - Desempenho Simplificado.
def desempenho_simplificado(avaliacao):
    if 1 <= avaliacao <= 3:
        return 'Baixo'
    elif 4 <= avaliacao <= 7:
        return 'Médio'
    else:
        return 'Alto'

df['Desempenho Simplificado'] = df['Avaliação de Desempenho'].map(desempenho_simplificado)

In [ ]:
# 17 - Idade em 5 Anos.
df['Idade em 5 Anos'] = df['Idade'] + 5

In [ ]:
# 18 - Quantos funcionários estão na categoria de salário "Alto"?
num_alto_salario = df[df['Categoria de Salário'] == 'Alto'].shape[0]
print(f'Total de funcionários na categoria de salário "Alto": {num_alto_salario}')

Total de funcionários na categoria de salário "Alto": 14

In [ ]:
# 19 - Excluir registros com valores ausentes e salvar em novo CSV.
df_limpo = df.dropna()
df_limpo.to_csv('funcionarios_limpos.csv', index=False)

In [ ]:
# 20 - Casting da coluna "Avaliação de Desempenho" para o tipo inteiro.
df['Avaliação de Desempenho'] = df['Avaliação de Desempenho'].astype(int)
print(df.head())

   ID          Nome  Idade      Salário                 Cargo Departamento  \
0   1          Juan   42.0  9276.790000              Florista   Financeiro
1   2      Isabelly   65.0  5865.925111                   NaN    Operações
2   3          Cauê   35.0  3692.610000  Lutador de jiu-jitsu          NaN
3   4          Theo   34.0  2092.810000                    DJ    Operações
4   5  Pedro Miguel   47.0  5944.170000        Neurocirurgião           RH

  Data de Contratação  Avaliação de Desempenho  Tempo na Empresa  \
0          2024-03-01                        3             272.0
1          2023-04-04                        6             604.0
2          2022-07-28                        5             854.0
3                 NaT                        1               NaN
4          2024-06-06                        6             175.0

  Categoria de Salário Desempenho Simplificado  Idade em 5 Anos
0                 Alto                    Alto             47.0
1                Médio                   Médio             70.0
2                Médio                   Médio             40.0
3                Baixo                   Baixo             39.0
4                Médio                   Médio             52.0