In [2]:
import pandas as pd

In [5]:
from io import StringIO

In [3]:
df = pd.read_csv('https://storage.googleapis.com/desafio-02/dados%20brutos%2002/dados_inconsistentes%20-%20dados_inconsistentes.csv.csv')
display(df)

                 nome  idade  salário        cargo  departamento
0         Maria Gomes   48.0      NaN          NaN           NaN
1          Paulo Lima    NaN      NaN      Gerente           NaN
2          João Gomes   49.0  1812.77   Estagiário  Desconhecido
3        Pedro Santos    NaN      NaN          NaN     Marketing
4       Mariana Silva   40.0      NaN          NaN     Operações
5         Paulo Silva    NaN  2595.51          NaN           NaN
6   Fernanda Ferreira    NaN     erro          NaN           NaN
7           Ana Gomes    NaN     erro          NaN  Desconhecido
8      Carlos Almeida   57.0  6923.55  Coordenador    Financeiro
9          João Souza   22.0      NaN          NaN        Vendas
10     Juliana Santos   32.0      NaN          NaN  Desconhecido
11       Paulo Mendes    NaN  4276.72          NaN           NaN
12      João Ferreira    NaN      NaN          NaN            TI
13       João Almeida   57.0     erro          NaN  Desconhecido
14        Maria Costa   51.0     erro          NaN       Compras
15      João Oliveira    NaN      NaN          NaN     Marketing
16          João Lima   34.0      NaN          NaN  Desconhecido
17          Ana Silva    NaN      NaN      Diretor            TI
18    Mariana Almeida    NaN      NaN      Gerente           NaN
19    Juliana Almeida    NaN      NaN          NaN            TI
20   Juliana Oliveira   60.0  3618.77     Analista            TI
21       Roberto Lima    NaN     erro          NaN        Vendas
22     Juliana Mendes   23.0     erro          NaN           NaN
23         Maria Lima    NaN      NaN          NaN           NaN
24         João Souza    NaN      NaN          NaN           NaN
25         João Souza    NaN  6537.49          NaN     Operações
26     Roberto Santos   34.0  6414.65    Consultar        Vendas
27         João Costa   47.0  3548.68    Consultor  Desconhecido
28      Mariana Silva   35.0      NaN          NaN           NaN
29     Paulo Oliveira   42.0  5544.54   Assistente        Vendas
30     Maria Ferreira   55.0     erro          NaN            TI
31          Ana Gomes    NaN     erro  Coordenador           NaN
32          Ana Costa    NaN     erro          NaN  Desconhecido
33     Fernanda Gomes    NaN     erro          NaN            TI
34    Fernanda Santos   26.0  6500.00    Coordenar            RH
35        Maria Souza   37.0  5217.46      Diretor     Marketing
36           Ana Lima    NaN      NaN          NaN  Desconhecido
37         Ana Mendes    NaN     erro          NaN           NaN
38      Roberto Silva    NaN      NaN          NaN       Compras
39   Mariana Ferreira    NaN      NaN          NaN            TI

In [4]:
listas = {col: df[col].tolist() for col in df.columns}

In [6]:
registros_completos = []
for i in range(len(listas['nome'])):
    if all(pd.notnull(listas[col][i]) and listas[col][i] != "" for col in listas):
        registros_completos.append(i)

In [7]:
for col in listas:
    listas[col] = [listas[col][i] for i in registros_completos]

In [8]:
df_tratado = pd.DataFrame(listas)

In [11]:
df_tratado.to_csv('dados_inconsistentes - dados_inconsistentes.csv', index=False)

In [12]:
from google.colab import auth
from google.cloud import storage
auth.authenticate_user()
project_id = 'projeto-aline-440013'
!gcloud config set project {project_id}
client = storage.Client()
bucket_name = 'desafio-02'
bucket = client.bucket(bucket_name)
source_file_name = 'dados_inconsistentes - dados_inconsistentes.csv'
destination_blob_name = 'dados tratados 02/dados_inconsistentes - dados_inconsistentes.csv'
blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(source_file_name)

print("Arquivo enviado com sucesso para a pasta 'dados tratados 02'.")

Updated property [core/project].
Arquivo enviado com sucesso para a pasta 'dados tratados 02'.

In [14]:
df_tratado = df.dropna()
df_tratado = df_tratado[~df_tratado.isin(['erro', ''])].dropna(how='all')